div {
    /* margin: 0 auto; */
    background-color: rgb(192, 138, 123); 
    padding: 5px; width: 300px;
    margin-bottom: 20px;
   box-shadow: 12px 12px 12px rgba(80, 110, 130, 0.719);
   color: antiquewhite;
}
h1 {
    color: rgb(34, 13, 13);
    text-align: center;
    
    padding: 10px;
    box-shadow: 12px 12px 12px rgba(80, 110, 130, 0.719);
